<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Authorize the client using <span style="font-family: monospace;">grant_type</span>:</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a [routerLink]="['/authorize']"><span style="font-size: medium;">Authorization Code</span>&nbsp;&nbsp;<small class="text-muted">(Login to Spring Authorization Server using: user1/password)</small></a>
        </li>
    </ul>
</div>